<div class="page-content d-flex align-items-stretch">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Content | Search -->
  <div *ngIf="!result" class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Search</h2>
      </div>
    </header>

    <section class="forms">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">

              <!-- Search By Field -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Search By Field</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" (submit)="onSearchSubmit()">

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Major</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="major" name="major" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Research Area</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="research_area" name="research_area" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                          <input type="submit" value="Search Alumni" class="btn btn-primary">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>

              <!-- Search By Area -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Search By Area</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal" (submit)="onSearchSubmit()">

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">University</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="university" name="university" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">City</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="city" name="city" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">State</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="state" name="state" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Country</label>
                        <div class="col-sm-9">
                          <input type="text" [(ngModel)]="country" name="country" class="form-control">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                          <input type="submit" value="Search Alumni" class="btn btn-primary">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <app-footer></app-footer>
  </div>

  <!-- Content | Search Results -->
  <div *ngIf="result" class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Search Results</h2>
      </div>
    </header>


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">

            <div *ngFor="let user of result" class="col-lg-4">
              <div class="client card">
                <div class="card-body text-center">
                  <!-- Profile Picture -->
                  <div class="client-avatar"><img src="assets/img/avatar_d.png" alt="..." class="img-fluid rounded-circle">
                      <div class="status bg-green"></div>
                  </div>
                  <!-- Information -->
                  <div class="client-title">
                      <h3>{{user.name.first_name}} {{user.name.last_name}}</h3><span>{{user.university}}</span><span>{{user.city}}, {{user.country}}</span><a href="#">Message</a>
                  </div>

                  <div class="client-info">
                    <div class="row">
                      <div class="col-6"><strong>Major</strong><br><small>{{user.major}}</small></div>
                      <div class="col-6"><strong>Research Areas</strong><br><small>{{user.research_area}}</small></div>
                    </div>
                  </div>
                  <div class="client-social d-flex justify-content-between">
                    <a href={{user.link_facebook}} target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href={{user.link_twitter}} target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href={{user.link_linkedin}} target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
