<div class="login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>AlumNET</h1>
              </div>
              <p>Connecting Lums Community</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">

              <!-- Form -->
              <form id="register-form" (submit)="onRegisterSubmit()">

                <div class="form-group">
                  <input type="text" [(ngModel)]="fname" name="fname" class="input-material">
                  <label class="label-material">First Name</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="lname" name="lname" class="input-material">
                  <label class="label-material">Last Name</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="email" name="email" class="input-material">
                  <label class="label-material">Email</label>
                </div>

                <div class="form-group">
                  <input type="password" [(ngModel)]="password" name="password" class="input-material">
                  <label class="label-material">Password</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="major" name="major" class="input-material">
                  <label class="label-material">Major</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="research_area" name="research_area" class="input-material">
                  <label class="label-material">Research Area</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="grad_year" name="grad_year" class="input-material">
                  <label class="label-material">Graduation Year</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="university" name="university" class="input-material">
                  <label class="label-material">University</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="city" name="city" class="input-material">
                  <label class="label-material">City</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="state" name="state" class="input-material">
                  <label class="label-material">State</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="country" name="country" class="input-material">
                  <label class="label-material">Country</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="link_facebook" name="link_facebook" class="input-material">
                  <label class="label-material">Facebook</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="link_twitter" name="link_twitter" class="input-material">
                  <label class="label-material">Twitter</label>
                </div>

                <div class="form-group">
                  <input type="text" [(ngModel)]="link_linkedin" name="link_linkedin" class="input-material">
                  <label class="label-material">Linkedin</label>
                </div>

                <input type="submit" value="Register" class="btn btn-primary">
              </form>

              <small>Already have an account? </small><a [routerLink]="['/login']" class="signup">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>© 2017-2018 | Lahore University Of Management Sciences
      <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </p>
  </div>
</div>
