<div class="login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>AlumNET</h1>
              </div>
              <p>Connecting Lums Community</p>
            </div>
          </div>
        </div>
        <!-- Form Panel -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <!-- Form -->
              <form id="login-form" (submit)="onLoginSubmit()">

                <div class="form-group">
                  <input type="text" [(ngModel)]="email" name="email" class="input-material">
                  <label class="label-material">Email</label>
                </div>

                <div class="form-group">
                  <input type="password" [(ngModel)]="password" name="password" class="input-material">
                  <label class="label-material">Password</label>
                </div>

                <input type="submit" value="Login" class="btn btn-primary">
              </form>

              <a href="#" class="forgot-pass">Forgot Password?</a>
              <br>
              <small>Do not have an account? </small>
              <a [routerLink]="['/register']" class="signup">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>© 2017-2018 | Lahore University Of Management Sciences
      <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
    </p>
  </div>
</div>
